{% spaceless %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Licevm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/vis.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/licevm.css' %}" type="text/css">
    <link rel="stylesheet" href="https://brick.a.ssl.fastly.net/Libre+Bodoni:400/Linux+Libertine:400,400i,600">
</head>

<body>
    <div class="container">
        <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="#">Página inicial</a></li>
            <li role="presentation"><a href="{% url 'lista_topicos' %}">Conteúdo</a></li>
            <li role="presentation"><a href="#">Login</a></li>
            </ul>
        </nav>
        <h3 class="text-fancy">LICEVM</h3>
        </div>
    </div>

{% block content %}
{% endblock %}

<div class="container">
    <footer class="footer">
    <p>&copy; 2017 Grupo</p>
    </footer>
</div>

</body>
</html>
{% endspaceless %}
