### A carta da ONU

<p>"A carta das Nações Unidas foi redigida pelos representantes de cinquenta países, reunidos em <b>São Francisco</b>, nos Estados Unidos, entre 25 de abril e 26 de junho de 1945. A Organização das Nações Unidas passou a existir oficialmente no dia 24 de outubro de 1945, com o objetivo principal de manter a paz e a segurança internacionais e desenvolver a cooperação entre os povos na busca de soluções dos problemas econômicos, sociais, culturais e humanitários, promovendo o respeito aos direitos humanos e às liberdades fundamentais."</p>
<p>Fonte: História Geral / Cláudio Vicentino. – ed. atual. e ampl. – São Paulo: Scipione, 1997.</p>

<p>Segue o link para a Carta da ONU na íntegra em PDF: </p><http://unicrio.org.br/img/CartadaONU_VersoInternet.pdf>

### Preâmbulo da carta

<img src="/static/img/preambulo.jpg">

### A ONU

<p>"A ONU é constituída de diversos órgãos, entre os quais se destacam: Conselho de Segurança, Assembleia Geral, Secretariado, Conselho Econômico e Social e Corte Internacional de Justiça. Eles trabalham separadamente, mas com ampla intercomunicação, coordenando as atividades da organização.</p>

<p>(...) Destinada a substituir a fraca e ineficiente Liga das Nações, a ONU obteve relativo sucesso, especialmente na área de justiça, embora não tenha conseguido solucionar satisfatoriamente os grandes conflitos internacionais nas décadas seguintes à Segunda Guerra Mundial. O direito de veto das grandes potências limitou seu caráter, retirando-lhe a credibilidade que deveria ter como organização efetivamente representante de todos os países do mundo.</p>

<p>(...) Numa análise abrangente, pode-se afirmar que a ONU teve um papel significativo na solução de alguns conflitos, na redução de tensões e, especialmente, nas missões de paz em vários confrontos ao redor do mundo. A atuação dos chamados “capacetes azuis” (soldados das tropas multinacionais da ONU) e das agências especializadas tem contribuído para poupar milhões de vidas. O Unicef, por exemplo, tem auxiliado milhões de crianças, além de manter mobilizada a consciência internacional para com a grande parte pobre do mundo."</p>
<p>Fonte: História geral e do Brasil / Cláudio Vicentino, Gianpaolo Dorigo – 2. ed. – São Paulo: Scipione, 2013. Disponível em: </p><https://drive.google.com/file/d/0B9E-m0rVzRvJYi1rV2lNa1c2QWc/view>


Questões
--------

<quiz>
"Nós, os povos das Nações Unidas, resolvidos: a preservar as gerações vindouras do flagelo da guerra, que, por duas vezes no espaço da nossa vida, trouxe sofrimentos indizíveis à humanidade, e a reafirmar a fé nos direitos fundamentais do homem, na dignidade e no valor do ser humano, na igualdade de direitos dos homens e das mulheres, assim como das nações grandes e pequenas, e a estabelecer condições sob as quais a justiça e o respeito às obrigações decorrentes de tratados e de outras fontes de direito internacional possam ser mantidos, e a promover o progresso social e melhores condições de vida dentro de uma liberdade mais ampla. (…) Em vista disso, nossos respectivos Governos, por intermédio de representantes reunidos na cidade de São Francisco, depois de exibirem seus plenos poderes, que foram achados em boa e devida forma, concordaram com a presente Carta das Nações Unidas e estabelecem, por meio dela, uma organização internacional que será conhecida pelo nome de Nações Unidas."
Preâmbulo da Carta da ONU. Disponível em: http://nacoesunidas.org/carta. Acesso em: 19 jun. 2017. A criação da Organização das Nações Unidas aconteceu em decorrência
a) Da necessidade de uma diplomacia regional durante a Guerra Fria
b) Da reivindicação dos países periféricos no início do século XXI
c) Da união das potências bélicas mundiais ao final da Primeira Guerra Mundial
d) Do enfraquecimento da economia europeia durante a década de 1990
E) Do fracasso da Liga das Nações após a Segunda Guerra Mundial
</quiz>