/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.text-fancy {
    font-family: "Libre Bodoni", serif;
    font-size: 30px;
    font-weight: 400;
}

h1, h2, h3, h4 {
    font-family: "Linux Libertine", serif;
    font-weight: 600;
}

.container > p {
    font-family: "Linux Libertine", serif;
    font-weight: 400;
    font-size: 18px;
    text-rendering: optimizeLegibility;
    line-height: 1.6;
    text-align: justify;
}

/* view-source:http://visjs.org/examples/timeline/styling/customCss.html */
.vis-item {
    border-color: #317eac;
    background-color: white;
    font-size: 12px;
    color: #317eac;
    text-shadow: 1px 1px 3px white;
    box-shadow: 2px 2px 10px rgba(128,128,128, 0.2);
    z-index: 1;
}

.vis-item-content {
    font-family: "Linux Libertine", serif;
}

/*
.vis-item:hover {
    z-index: 2;
}

.vis-background:hover {
    z-index: 1;
}
*/

/*
.vis-box {
    position: relative;
    height: 5px;
}

.vis-box > .vis-item-content {
    position: relative;
    top: -25px;
}

.vis-point {
    box-shadow: none;
}


.vis-point > .vis-item-content {
    margin-left: 3px !important;
}

.vis-item > .vis-dot {
    margin-top: 18px;
}

.vis-point > .vis-item-content {
}

.vis-item.vis-selected {
    border-color: green;
    background-color: lightgreen;
}

.vis-item .vis-item-overflow {
    height: 2px;
    overflow: visible !important;
}

*/

/*
.vis-item-content {
    color: blue;
}

.vis-item .vis-item-content {
    padding: 5px 0 0 0;
}
*/


.feedback > p {
    padding: 15px;
}

.margins {
    margin: 30px 0 30px 0;
}
