@import "https://fonts.googleapis.com/css?family=Indie+Flower";

/* Título em fonte importada azul escura em negrito*/ 
.title {
	font-family: "Indie Flower", Arial;
	font-weight: 600;
	text-align: center;
	color: MidnightBlue;
	font-size: 4em;
}

.destaques {
	max-width: 80%;
    margin: auto;
}

.center {
	text-align:center;
}

.blue-background {
	background-image: url("../imgs/azul-fundo.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
#timeline-embed {
	/*width: 100%;*/
}

body {
	/*margin: auto;*/
    /*background-image: url("../imgs/azul-fundo.jpg");
    background-size: 100%;
    /*background-repeat: no-repeat;*/
}

header {
	width:100%;
	background-color: SteelBlue;
	/*background-color: DodgerBlue;*/
}


footer {
	padding: 0.2%;
	background-color: LightSteelBlue;
	font-size: 0.8em;
	max-width:100%;
	margin-left:auto;
	margin-right:auto;
	color: black;
}

nav {
	text-align: left;
	background-color: SteelBlue; /*#D3D3D3;*/	
}

a:hover {
	text-decoration: none;
}

.border {
	border-radius: 2px;
	border-style: outset;
}

.block {
	display: inline-block;
	max-width: 170px;
	max-height: 250px;
	min-width: 125px;
	min-height: 185px;
	margin: 10px;
	padding-left: 0;
}

.slide-img {
	width: 100%;
}

/* CORES
*************************************
CornflowerBlue	#6495ED	(100,149,237)
RoyalBlue	#4169E1	(65,105,225)
DodgerBlue	#1E90FF	(30,144,255)
DeepSkyBlue	#00BFFF	(0,191,255)
LightSkyBlue	#87CEFA	(135,206,250)
SkyBlue	#87CEEB	(135,206,235)
LightBlue	#ADD8E6	(173,216,230)
SteelBlue	#4682B4	(70,130,180)
LightSteelBlue	#B0C4DE	(176,196,222)
SlateGray	#708090	(112,128,144)
LightSlateGray	#778899	(119,136,153)
*************************************
*/